<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gxx.activitylifelibrary">
    <application>
        <service android:name=".service.ActivityLifeService" android:exported="false" android:process=":tools"/>
    </application>
</manifest>