<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gxx.lifenoticeapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/Theme.LifeNoticeApplication"
        tools:targetApi="31">
        <activity
            android:name=".activity.mainprocess.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--配置service-->
        <service android:name="com.gxx.activitylifelibrary.service.ActivityLifeService" android:exported="false" android:process=":tools"/>

        <activity android:name=".activity.mainprocess.LoginActivity"/>
        <activity android:name=".activity.gxxprocess.RegisterActivity" android:process=":gxx"/>
        <activity android:name=".activity.gxxprocess.MainActivityV2" android:process=":gxx"/>
        <activity android:name=".activity.videoprocess.MainActivityV3" android:process=":video"/>
    </application>

</manifest>